* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;

}

#wrapper {
    width: 1230px;
    margin: 0 auto;
    background: #f2f2f2;
    height: 32px;
    line-height: 32px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0)
}

#img {
    height: 32px;
    line-height: 32px;
    color: #b8b8b8;

}



.iconfont {
    color: red;
}

#top-img {
    text-align: center;
    background: #3b38d2;
    height: 80px;
}

.quick-menu {
    float: right;
}

.split {
    width: 1px;
    height: 14px;
    margin: 9px 0 0 14px;
    padding: 0 !important;
    background: #ccc;
}

.quick-menu>li {
    float: left;
    padding: 0 14px;
    position: relative;
}

.login-info {
    float: left;
    margin: 0 18px;
    height: 32px;
}

.login-info a:hover {
    color: red;
}

.login-info a,
span {
    color: #999;
    font-size: 12px;
    margin: 8px;
}

.quick-menu a {
    color: #999;
    font-size: 12px;
    /*position: absolute;*/
}

.triangle::after {
    content: '';
    width: 0;
    border-width: 3px;
    border-style: dashed;
    border-top-color: #bbb;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    position: absolute;
    top: 50%;
    right: 4px;
    cursor: pointer;
    padding-top: -1.5px;
    transition: all 1s ease;
    display: block;
}

.quick-menu .taobao:hover {
    color: red;
    cursor: pointer;
}

.triangle:hover::after {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);


    -webkit-transform-origin: 3px 1.5px;
    -moz-transform-origin: 3px 1.5px;
    -ms-transform-origin: 3px 1.5px;
    -o-transform-origin: 3px 1.5px;
    transform-origin: 3px 1.5px;

    -webkit-transition: transform .5s ease;
    -moz-transition: transform .5s ease;
    -ms-transition: transform .5s ease;
    -o-transition: transform .5s ease;
    transition: transform .5s ease;


}

.sub-menu {
    display: none;
    background: #fff;
    line-height: 32px;
    font-size: 12px;
    position: absolute;
    width: 100px;
    list-style: none;
    left: -1px;


}

.my-taobao {
    color: #000000;
}

.quick-menu .my-taobao a {
    padding: 0 14px;
    text-align: center;

}

.quick-menu .triangle:hover {
    display: block;
    background: #ffffff;
    color: red;

}

.quick-menu .triangle:hover .sub-menu {
    display: block;
    background: #fff;
    color: red;

}

.buy:hover a {
    text-decoration: underline;
    color: red;
}

.sale:hover a {
    text-decoration: underline;
    color: red;
}

.collect {
    display: none;
    list-style: none;
    font-size: 12px;
    cursor: pointer;
    position: absolute;
    line-height: 32px;
    width: 100px;
    left: -1px;
}

.sub-collect {
    position: relative;
    border: solid #f2f2f2;
    border-width: 0 1px;
}

.collect .sub-collect a {
    padding: 0 14px;
}

.triangle :hover {
    color: red;
}

.quick-menu .triangle:hover .collect {
    display: block;
    background: #fff;
    color: red;

}

.treasure:hover a {
    text-decoration: underline;
    color: red;

}

.shop:hover a {
    text-decoration: underline;
    color: red;

}

.mobile {
    width: 175px;
    height: 175px;
    background: #f2f2f2;
    display: none;
    position: relative;
}

.triangle .shop-support {
    list-style: none;
    font-size: 12px;
    position: absolute;
    display: none;
    padding-right: 14px;



}

.shop-support .merchant {
    color: #000000;
    font-size: 16px;
}

.triangle:hover .shop-support {
    display: block;
}

.shop-support .business-center:hover a {
    text-decoration: underline;
}

.shop-support .tmall-rules:hover a {
    text-decoration: underline;

}

.shop-support .merchant-settledr:hover a {
    text-decoration: underline;
}

.shop-support .operation-service:hover a {
    text-decoration: underline;
}

.shop-support .merchants-qc:hover a {
    text-decoration: underline;
}

.shop-support .merchants-tools:hover a {
    text-decoration: underline;
}

.shop-support .tmall-thinkbank:hover a {
    text-decoration: underline;
}

.shop-support .meow-word:hover a {
    text-decoration: underline;
}





.top .doodle-hide {
    float: left;
}

.hot-query a {
    text-decoration: none;
}

.hot-query>li {
    list-style: none;
}

#logo-search {
    height: 133px;
}

#logo {
    float: left;
}

#search {
    margin-left: 60px;
    float: left;
    margin-top: 38px;
}

#search form {
    width: 625px;
    height: 36px;
    border: 2px solid #FF0036;

}

#search .search-ipt {
    width: 493px;
    height: 36px;
    outline: none;
    border: none;
    font-size: 18px;
    text-indent: 10px;
}

#search .search-btn {
    width: 128px;
    height: 36px;
    background: #FF0036;
    border: none;
    outline: none;
    float: right;
    color: #fff;
    font-size: 20px;
    letter-spacing: 5px;

}

#search .hot-query {
    margin-top: 6px;
}

#search .hot {
    float: left;
    border-right: 1px solid #999;
    padding: 0 12px;

}

#search .hot a {
    color: #999;
    font-size: 14px;
}

#search .hot-query-highlight a {
    color: #FF0036;
}

.milk {
    border-right: none !important;
}










#inner-con2 {
    height: 36px;
    border-bottom: 1px solid #FF0036;
    position: relative;
    margin-top: -5px;
}

#inner-con2 .nav {
    transform: translate(-100px)
}

#inner-con2 .nav>li {
    list-style: none;
    line-height: 36px;
}

#inner-con2 a {
    text-decoration: none;
    float: left;
    margin-left: 12px;
    vertical-align: middle;
    color: #333;
    display: block;
    height: 35px;
}

#inner-con2 .nav img {
    width: 100px;
    margin-top: 3px;
}

#inner-con2 .nav a:hover {
    color: #FF0036;
}






#banner img{
    display: none;
    width: 1130px;
}
#banner .banner-selected{
    display: block;
}
#banner .big-banner {
    text-align: center;
}

#banner .wrapper {
    text-align: center;
    background: #ff6c84;
    position: relative;
}

#banner .category-tab {
    position: absolute;
    top: -36px;
    left: 0;
    width: 200px;
    height: 500px;
    background: rgba(0, 0, 0, .55);

}

#banner .category-item {
    float: left;
}

#banner .category-item>a {
    display: block;
    height: 36px;
    line-height: 36px;
}

#banner .category li {
    height: 36px;
}

#banner .category {
    display: none;
    position: absolute;
    top: 36px;
    left: 0;
    width: 200px;
}

#banner .category-item:hover .category {
    display: block;
}

#banner .item1 {
    width: 100px;
    color: #FF0036;
    background: rgba(238, 238, 238, .95);
}

#banner .item2 {
    background: #FF0036;
    color: #ffe013;
    width: 100px;
}

#banner .category a {
    color: #fff;
}

#banner .category2 li {
    width: 152px;
    height: 31px;
    border: 1px solid #FF0036;
    border-radius: 10px;
    line-height: 31px;
    margin: 20px auto
}

#banner .small-banner {
    width: 220px;
    height: 235px;
    background: rgba(255, 255, 255, .7);
    position: absolute;
    right: 10px;
    top: 10px;
}

#banner .slider-nav li {
    width: 25px;
    height: 5px;
    background: #000;
    opacity: .3;
    filter: alpha(opacity=30);
    float: left;
    margin-right: 10px;
    cursor: pointer;
}

#banner .slider-nav {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 30px;
}

#banner .category-item .icon-nvzhuang {
    color: #f2f2f2;
    font-size: 12px;
}

#banner .category-item li:hover {
    background: #FF0036;
}

#nav div{
    width: 20px;
    height: 10px;
    background-color: #ccc;
   

}






#sider-bar {
    width: 35px;
    top: 0;
    right: 0;
    bottom: 0;
    background: #000;
    position: fixed;

}

#sider-bar div {
    color: white !important;
    font-size: 14px;
    padding-top: 40px;
    margin-top: 25px;
    position: relative;
    width: 35px;
}

#sider-bar i {
    color: white !important;
    margin-left: 8px;
    font-size: 18px;
}

#sider-bar .ziyuan {
    width: 16px;
    height: 36px;
    font-size: 10px;
    margin-left: 8px;
    position: absolute;
    transform: translate(5px, -60px)
}

#sider-bar .bar:hover {}











#brand-list {
    height: 2000px;
    width: 100%;
}

#brand-list .brand img {
    width: 122px;
    height: 90px;
}

#brand-list .brand {
    text-align: center;
    position: relative;
    float: left;
    border-right: 1px solid #999999;
    border-bottom: 1px solid #999999;
}

#brand-list .brand .brand-mask {
    background: rgba(0, 0, 0, .8);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

#brand-list .brand:hover .brand-mask {
    opacity: 1;
}

#brand-list .brand-mask .coupon {
    margin-top: 30px;

}

#brand-list .brand-mask p {
    color: white;
}

#brand-list .brand-mask .enter {
    width: 80px;
    height: 18px;
    line-height: 18px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    margin: 0 auto;
    background: #FF0036;
}