*{
    margin: 0px;
    padding: 0;
    text-decoration: none;


}
#wrapper{
    width: 1230px;
    height: 100%;
    margin: 0 auto;
    background: #ccc;
}
#img{
    height: 32px;
    line-height: 32px;
    color: #b8b8b8;
    }


.iconfont{
    color: red;
}

#top-img{
    text-align: center;
    background: #3b38d2;
    height: 80px;
}

#quick-menu{
    float: right;
}
.split {
    width: 1px;
    height: 14px;

    margin: 9px 0 0 14px;
    padding:0 !important;
}
#quick-menu>li{
    float: left;
    padding: 0 14px;
    display: block;
    list-style: none;
    position: relative;
}
.login-info{
    float: left;
    margin: 0 18px;
}
#quick-menu:hover{
    color: red;
}
.login-info a:hover {
    color: red;
}


.login-info a,span{
    color: #999;
    font-size: 12px;
    margin: 8px;


}
#quick-menu a{
    color: #999;
    font-size: 12px;
    display:inline-block;
}


.triangle::after{
    content:'' ;
    width: 0;
    border-width:3px;
    border-style: dashed;
    border-top-color:#bbb;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color:transparent;
    position: absolute;
    top: 50%;
    right: 4px;

    cursor:pointer;
    padding-top: -1.5px;
    transition: all 1s ease;
    display:block;
}
#quick-menu > li:hover a{
    color: red;
    cursor: pointer;
}


.triangle:hover::after{
     -webkit-transform: rotate(180deg);
     -moz-transform: rotate(180deg);
     -ms-transform: rotate(180deg);
     -o-transform: rotate(180deg);
     transform: rotate(180deg);


    -webkit-transform-origin: 3px 1.5px;
    -moz-transform-origin: 3px 1.5px;
    -ms-transform-origin: 3px 1.5px;
    -o-transform-origin: 3px 1.5px;
    transform-origin: 3px 1.5px;

    -webkit-transition: transform .5s ease;
    -moz-transition: transform .5s ease;
    -ms-transition: transform .5s ease;
    -o-transition: transform .5s ease;
    transition: transform .5s ease;

}
.sub-menu {
    display: none;

    /*background: #fff;*/
    /*line-height: 32px;*/
    font-size: 12px;
    position: absolute;
    width: 76px;
    list-style: none;


}
.my-taobao{
    color: #000000;
}
#quick-menu .triangle:hover .sub-menu{
    display:block;
    /*background: #fff;*/
    color: red;
    text-decoration: underline;!important;


}
.collect{
    list-style: none;
    font-size: 12px;
    display: none;
    cursor: pointer;
    position: absolute;
    line-height: 32px;
    width: 76px;
}
.sub-collect{
    position: relative;
}

#quick-menu .triangle:hover .collect{
    display:block;
    /*background: #ffffff;*/
    color: red;
    text-decoration: underline;!important;
}



