*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
li{
    list-style: none;
}
html{
    font-size: 62.5% !important;
}
.container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.nav{
    width: 30%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.12); 
}
.container .header img{
    width: 36px;
}
.nav .content{
    height: 36px;
    padding: 24px;
}
.container .primary li{
    float: left;
    font-size: 1.6em;
    padding: 5px 10px 5px;
    font-weight: 700;
}
.container .header{
    float: left;
}
.container .hamburger{
   float: right;
   margin-top: 5px;
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
.body{
    width: 100%;
    height: calc(100% - 98px);
    display: table;
}
.nav .body .body-cont{
    padding: 0 24px 0 84px;
    display: table-cell;
    vertical-align: middle;  
}
.body .body-cont .bc-text{
    font-size: 2.6rem;
    font-weight: 700;
}
.body .btn-bar{
    margin-top: 20px;
}
.body .btn-bar span{
    color: #00A862;
    font-size: 1.4rem;
    font-weight: 400;
}
.body .btn-bar .sign-in{
    float: left;
    margin-right: 24px;
    padding: 3px 0;
    margin-top: -3px;
}
.body .btn-bar img{
    margin-right: 4px;
    margin-top: -3px;
    vertical-align: middle;
}
.body .btn-bar .register{
    border:1px solid  #00A862;
    border-radius: 48px;
    padding: 8px 14px;
}
.overlay{
    background-color: #fff;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 30%;
    visibility: hidden;
    opacity: 0;
    transition: all .1s ease;
}
.active{
    visibility: visible ;
    opacity: 1 ;
    z-index: 3;
  }
.overlay .logo img{
    padding: 16px;
    width: 36px;
    float: left;
}
.overlay .no-header{
    padding:24px;
  }
.overlay .no-header .close{
    position: absolute;
    top: 24px;
    right: 24px;
    border: 0;
    background-color: #fff;
    cursor: pointer;
}
.overlay .no-content .noc-body{
    font-size: 1.8rem;
    padding: 5px 10px 5px;
    font-weight: 700;
    padding: 8px 0;
}
.no-content{
    display: table;
    height: calc(100% - 98px);
    width: 100%;
    transform: scale(1.2);
    transition: all .1s ease;
  }
  .overlay.active .no-content{
    transform: scale(1);
  }
.overlay .no-content ul{
    padding-left: 84px;
    padding-right: 24px;
    display: table-cell;
    vertical-align: middle; 
}
.overlay .no-content li{
    padding: 8px 0;
}
@media(max-width:1024px){
    .nav{
        width: 100%;
    }
}
/* @media (min-width:641px) and (max-width:1024px){
     .nav{
        width: 100%;
      }
      .nav .btn-bar{
        margin-bottom: 20px;
      }
      .nav .body .body-cont {
        position: fixed;
        top: 0;
        left: 0;
        padding: 0 16px !important;
      }
      .overlay{
        right: 0;
      }
} */
/* @media(max-width:640px){
    .nav{
        width: 100%;
    }
    .content,.btn-bar{
        display: none;
    }
    .body .body-cont{
        position: fixed;
        top: 0;
        left: 0;
        padding: 0 16px !important;
    }
} */
.container .content-body{
    width:70%;
    height: 500px;
    margin-left: 30%;
    }
    .content-body .hero .show-mobile{
    display: none;
    }

  /* .content-body .hero-contetn img{
      width: 100%;     
  } */
  /* @media (min-width:641px) and (max-width:1023px){
    .container .content-body{
      width:100%;
    }
    .show-mobile{
      display: none;
    }
  } */
  .container .hero{
    position: relative;
    width: 500%;
  }
  .container .hero li{
    float: left;
    overflow: hidden;
  }
  .container .hero li{
    width: 20%;
  }
  .container .hero img{
    width: 100%;
  }
  @media(min-width:1024px)and(max-width:641px){
    content-body{
        width: 100%;
    }
    .show-mobile{
        display: none;
    }
  }
  .hero-btn{
      
  }